@font-face {
    font-family: 'ThermalFont';
    src: url('path/to/thermal-printer-font.ttf') format('truetype');
}
body{
    background-color: #fff;
    font-family: 'ThermalFont', 'Courier New', Courier, monospace;
   line-height: 1.2;
}
    *{
        color: #000000;
    }


    .select{
        margin-bottom: 5px;
        background-color: #000;
        padding: 5px;
        width: 100%;
    }
    

    table {
        width: 100%;
        border-collapse: collapse;
        width: max-content;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    #cart-table th,
    #cart-table td{
        text-align: center;
    }
    #total-qty{
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
    }
    #total-cost{
        font-size: 20px;
        font-weight: bold;
    }
    #generate-invoice{
        display: flex;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    #itembutton{
        margin-top: 5px;
        appearance: none;
        background-color: #0058b0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 6px 16px;
        position: relative;
        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        word-wrap: break-word;
      }
      .headtitle{
        font-weight: 700;
      }
    
    @media print{
        .no-print{
            display: none;
        }
    }
